/* mobile screen */
@media(max-width:600px){
    body{
      width: 100%;
        padding: 0%;
        margin: 0px; 
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }    
  .tus{
        width:95%;
        padding:4px;
        background-color: purple;
        color:white; 
        display:flex;
        align-items:center;
        font:bold ;
        justify-content: space-around;
        height:60px;
        margin:auto;
        border-radius:10px;
  }
    .lokm{
        margin: auto;
        width: 100%;
    }
    .wen{
        display:none;
    }
    .mited{
        width:95%;
        background: purple;
        margin: auto;
        height:150px;
        border-radius:10px;
        font:bold;
        color:white;
        font-size:16px;
        display:flex;
        justify-content: center;
        background-image: linear-gradient(red, white,blue,);
        align-items:center;
        animation-name:mite;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes mite {
  from {
      font-size:0%;
  }
  to {
      font-size:100%;
  }
    }
    .mailua{
        width:90%;
        text-align: center;
        margin: auto;
    }
    .okol{
        outline: none;
        border: solid purple 3px;
        width: 90%;
        padding:15px;
        border-radius: 10px;
    } 
    .okolsl{
        background-color: purple;
        color: white;
        padding:15px;
        border-radius: 10px;
        width: 60%;
        border: solid  purple 3px;
    }
    .okols{
        outline: none;
        border: solid purple 3px;
        width: 90%;
        padding:15px;
        height:100px;
        border-radius: 10px;
    }
    .one-nav{
        width: 100%;
        color: white;
        display: flex;
        font-size:20px;
        padding: 5px;
        align-items: center;
        position: fixed;
        justify-content:space-between;
        height:60px;
        background-color:  purple   ;
    }
    .number{
        margin: auto;
        width: 90%;
        height:200px;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        background-color:white;
    }
    .noplo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        height: 100vh;
        position: fixed;
        background-color:rgba(0, 0, 0, 0.464);
    }
    .com{
        display: flex;
        align-items: center;
        font-size: 11px;
        justify-content: center;
    }
    .me{
        width: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        margin-right:10px;
        background-color: purple;
    }
    .me1{
        border-radius: 10px;
        width: 100%;
       height:4px;
       background-color: white; 
    }
    .me2{
        border-radius: 10px;
        width:100%;
        margin-top: 8px;
       height: 4px; 
       margin-bottom: 8px;
       background-color: white; 
    }
    .me3{
        border-radius: 10px;
        width:100%;
       height:4px;
       background-color: white; 
    }
    .tact{  
        width:0%;
        overflow: hidden;
        position: fixed;
        color: black;
        font-size:30px;
        text-align: center;
        z-index: 22;
        height: 100vh;
        background-color: white;
    }
    .block1{
        border-radius: 10px;
        width: 90%;
        margin: auto;
        background-color: aliceblue;
        height:250px;
    }
    .loadinside{
        width: 100%;
        height: 100vh;
        z-index: 2232;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: purple; 
    }   
    .block2{
        border-radius: 10px;
        width: 90%;
        margin: auto;
        background-color: aliceblue;
        height:fit-content;
        text-align: center;
        padding: 10px;
    }
    .footer{
        color: black; 
        background-color: purple;
    }
    .noko{
        width: 90%;
        margin: auto;
        height:60px;
    }
    .sub{
        background-color: white;
        color: white;
        height: 60px;
        width: 22%;
        outline: none;
        border-radius: 5px; 
        border: none;
        padding: 10px;
        color: black;
    }
    .ipol{
        width: 70%;
        height:40px;
        outline: none;
        border: none;
        padding: 8px;
        border-radius:5px;
    }
}



/* tablet screen */
@media(min-width:600px){
      .tus{
        width:75%;
        padding:4px;
        background-color: purple;
        color:white; 
        display:flex;
        align-items:center;
        font:bold ;
        justify-content: space-around;
        height:60px;
        margin:auto;
        border-radius:10px;
      }
.wen{
    display:block;
}
        .mited{
        width:90%;
        background: purple;
        margin: auto;
        height:150px;
        border-radius:10px;
        font:bold;
        color:white;
        font-size:16px;
        display:flex;
        justify-content: center;
        background-image: linear-gradient(red, white,blue,);
        align-items:center;
        animation-name:mite;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes mite {
  from {
      font-size:0%;
  }
  to {
      font-size:100%;
  }
    }
    .lokm{
        margin: auto;
        width: 80%;
    }
    
    .okol{
        outline: none;
        border: solid  purple 3px;
        width: 90%;
        padding:15px;
        border-radius: 10px;
    } 
    .okolsl{
        background-color: black;
        color: white;
        padding:15px;
        border-radius: 10px;
        width: 60%;
        border: solid  pink 3px;
    }
    .okols{
        outline: none;
        border: solid  purple 3px;
        width: 90%;
        padding:15px;
        height:100px;
        border-radius: 10px;
    }
    .mailua{
        width:90%;
        text-align: center;
        margin: auto;
    }
    body{
        width: 70%;
        padding: 0%;
        margin: auto; 
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }    
    .one-nav{
        width: 70%;
        color: white;
        display: flex;
        font-size:20px;
        padding: 5px;
        align-items: center;
        position: fixed;
        justify-content:space-between;
        height:60px;
        background-color: purple;
    }
    .number{
        margin: auto;
        width: 90%;
        height:200px;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        background-color:white;
    }
    .noplo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -142px;
        display: none;
        z-index: 333;
        height: 100vh;
        position: fixed;
        background-color:rgba(0, 0, 0, 0.464);
    }
    .com{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .me{
        width: 13%;
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: center;
        justify-content: space-around;
        margin-right:10px;
        background-color: purple;
    }
    .me1{
        border-radius: 10px;
        width: 100%;
       height: 8px;
       background-color: white; 
    }
    .me2{
        border-radius: 10px;
        width:100%;
        margin-top: 8px;
       height: 8px; 
       margin-bottom: 8px;
       background-color: white; 
    }
    .me3{
        border-radius: 10px;
        width:100%;
       height: 8px;
       background-color: white; 
    }
    .tact{  
        width:0%;
        overflow: hidden;
        position: fixed;
        color: black;
        font-size:30px;
        text-align: center; 
        margin-left: -112px;
        z-index: 22;
        height: 100vh;
        background-color: white;
    }
    .block1{
        border-radius: 10px;
        width: 90%;
        margin: auto;
        background-color: aliceblue;
        height:250px;
    }
    .loadinside{
        width: 100%;
        height: 100vh;
        z-index: 2322;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left:-105px;
        position: fixed;
        background-color: purple; 
    }   
    .block2{
        border-radius: 10px;
        width: 90%;
        margin: auto;
        background-color: aliceblue;
        height:fit-content;
        text-align: center;
        padding: 10px;
    }
    .footer{
        color: black; 
        background-color: purple;
    }
    .noko{
        width: 90%;
        margin: auto;
        height:60px;
    }
    .sub{
        background-color: red;
        color: white;
        height: 60px;
        width: 22%;
        outline: none;
        border-radius: 5px;
        border: none;
        padding: 10px;
    }
    .ipol{
        width: 70%;
        height:40px;
        outline: none;
        border: none;
        padding: 8px;
        border-radius:5px;
    }
}











/* laptop screen */
@media(min-width:600px){
      .tus{
        width:75%;
        padding:4px;
        background-color: purple;
        color:white; 
        display:flex;
        align-items:center;
        font:bold ;
        justify-content: space-around;
        height:60px;
        margin:auto;
        border-radius:10px;
  }
       .wen{
             display:block;
           } 

        .mited{
        width:90%;
        background: purple;
        margin: auto;
        height:150px;
        border-radius:10px;
        font:bold;
        color:white;
        font-size:16px;
        display:flex;
        justify-content: center;
        background-image: linear-gradient(red, white,blue,);
        align-items:center;
        animation-name:mite;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes mite {
  from {
      font-size:0%;
  }
  to {
      font-size:100%;
  }
    }
    .lokm{
        margin: auto;
        width: 80%;
    }
    body{
        width: 70%;
        padding: 0%;
        margin: auto; 
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }    
    .one-nav{
        width: 70%;
        color: white;
        display: flex;
        font-size:20px;
        padding: 5px;
        align-items: center;
        position: fixed;
        justify-content:space-between;
        height:60px;
        background-color: purple;
    }
    .number{
        margin: auto;
        width: 90%;
        height:200px;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        background-color:white;
    }
    .noplo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -222px;
        display: none;
        z-index: 333;
        height: 100vh;
        position: fixed;
        background-color:rgba(0, 0, 0, 0.464);
    }
    .com{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .me{
        width: 13%;
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: center;
        justify-content: space-around;
        margin-right:10px;
        background-color: pink;
    }
    .me1{
        border-radius: 10px;
        width: 100%;
       height: 8px;
       background-color: white; 
    }
    .me2{
        border-radius: 10px;
        width:100%;
        margin-top: 8px;
       height: 8px; 
       margin-bottom: 8px;
       background-color: white; 
    }
    .me3{
        border-radius: 10px;
        width:100%;
       height: 8px;
       background-color: white; 
    }
    .tact{  
        width:0%;
        overflow: hidden;
        position: fixed;
        color: black;
        font-size:30px;
        text-align: center; 
        margin-left: -222px;
        z-index: 22;
        height: 100vh;
        background-color: white;
    }
    .block1{
        border-radius: 10px;
        width: 90%;
        margin: auto;
        background-color: aliceblue;
        height:250px;
    }
    .loadinside{
        width: 100%;
        height: 100vh;
        z-index: 2322;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left:-95px;
        position: fixed;
        background-color: purple; 
    }   
    .block2{
        border-radius: 10px;
        width: 90%;
        margin: auto;
        background-color: aliceblue;
        height:fit-content;
        text-align: center;
        padding: 10px;
    }
    .footer{
        color: black; 
        background-color: purple;
    }
    .noko{
        width: 90%;
        margin: auto;
        height:60px;
    }
    .sub{
        background-color: red;
        color: white;
        height: 60px;
        width: 22%;
        outline: none;
        border-radius: 5px;
        border: none;
        padding: 10px;
    }
    .ipol{
        width: 70%;
        height:40px;
        outline: none;
        border: none;
        padding: 8px;
        border-radius:5px;
    }
}
